.country {
    padding:5px;
    border: 1px solid brown;
    background-color: rgb(41, 235, 99);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width:30%;
    margin:10px 0;
    color:rgb(21, 11, 11);
}

.country-flag {
    margin: 1rem 0;
}


.country-description {
    margin:0.5rem 0;
    font-size: 1.25rem;
}
.country-header {
    font-size: 1.5rem;
}