.country {
    /* padding:5px;
    border: 1px solid brown;
    background-color: rgb(41, 138, 235);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width:30%;
    margin:10px 0; */
}

.country-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0.5rem; 
}